
PUID=1000
PGID=1000

MYSQL_DATABASE=mercado_db
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_USER=mercado_user
MYSQL_PASSWORD=change_me_user

TYPESENSE_API_KEY=change_me_typesense_api_key
TYPESENSE_DATA_DIR=/data